.about {
  display: flex;
  background: #1a1a1d;
  height: auto;
  justify-content: center;
}

.about__container {
  display: flex;
  flex-direction: column;
  padding: 100px 100px 100px;
  height: auto;
  width: 100%;
  max-width: 1000px;
}

.about__title {
  color: white;
  font-size: 3rem;
}

.about__container hr {
  width: 10%;
  background: #c3073f;
  border: none;
  height: 2px;
}

.about__info {
  color: #a9a9a9;
  font-size: 1.3rem;
}

.about mark {
  color: #c3073f;
  background-color: transparent;
  font-weight: 700;
}

.about__links__container {
  display: flex;
  padding: 25px 0px 0px;
}

.about__links {
  padding: 0px 10px;
}

.about__links__container img {
  width: 30px;
  margin: 0px 20px 0px 0px;
}

@media screen and (max-width: 960px) {
  .about hr {
    width: 90px;
  }
}

@media screen and (max-width: 480px) {
  .about hr {
    width: 75px;
  }

  .about__title {
    color: white;
    font-size: 2.5rem;
  }

  .about__info {
    color: #a9a9a9;
    font-size: 1.1rem;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    padding: 100px 50px 0px;
    height: auto;
    width: 100%;
    max-width: 1000px;
  }
}
